* {
    box-sizing:border-box
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 100% auto auto;
    grid-template-areas: "header" "main" "content" "footer";
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 9px;
}


.contenedor-negro {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 90px;
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 600px;
}

#titulo {
    color: white;
    font-size: 47px;
    margin: 0;
    padding-left: 300px;
}

footer {
    align-content: end;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    grid-row: end;
}

#semi-footer {
    display: grid;
    background-color: rgb(33, 63, 102);
    grid-area: content;
    justify-content: center;
    padding-left:25%;
    height: 18cap;
    align-content: end;
    
}

#semi-footer ul {

    display: flex;
    justify-items: center;

}

#lista-pie-pagina a {
    font-size: 20px;
    padding-bottom: 8%;
}