body{
    margin: 0 0 0 0;
    padding: 0;
   
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 9px;
}

.contenedor-negro{
   display: grid;
   margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 90px;
    justify-content: left;
}