body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 9px;
}


.contenedor-negro {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 90px;
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 600px;
}

#titulo{
    color: white;
    font-size: 47px;
    margin: 0;
    padding-left: 300px;
}